<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="mk6IbhC-HpwMcak2aPoSmSXuSeSZTPedoNa9kRldGa8">
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self';
        media-src 'self' https://ljpengelen.github.io/groovid19/;
        script-src 'self' https://livejs.com https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/;
        style-src 'self' https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/
          'sha256-iRtqXVmOMp/hyF5UngK6PellD3q+F7toTW0WZBpaIyk='
          'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU';
        img-src 'self' data:;
        object-src 'none';
        base-uri 'none'">
    <link type="application/atom+xml" rel="alternate" href="{{relative-path | safe}}atom.xml" title="{{title}}">
    {% if canonical-url %}
      <link rel="canonical" href="{{canonical-url}}">
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>
    {{watch | safe }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{relative-path | safe}}style.css">

    {% if favicon-tags %}{{favicon-tags | safe}}{% endif %}

    <meta name="title" content="{{title}}">
    <meta name="twitter:title" content="{{title}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    {% if sharing.description %}
      <meta name="description" content="{{sharing.description}}">
      <meta name="twitter:description" content="{{sharing.description}}">
      <meta property="og:description" content="{{sharing.description}}">
    {% endif %}
    {% if sharing.url %}
      <meta name="twitter:url" content="{{sharing.url}}">
      <meta property="og:url" content="{{sharing.url}}">
    {% endif %}
    {% if sharing.image %}
      <meta name="twitter:image" content="{{sharing.image}}">
      <meta name="twitter:card" content="summary_large_image">
      <meta property="og:image" content="{{sharing.image}}">
      <meta property="og:image:alt" content="{{sharing.image-alt}}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    {% if sharing.author %}
      <meta name="twitter:creator" content="{{sharing.author}}">
    {% endif %}
    {% if sharing.twitter-handle %}
      <meta name="twitter:site" content="{{sharing.twitter-handle}}">
    {% endif %}
  </head>
  <body>
    <div class="header">
      <h1 class="site-title">
        <a class="page-link" href="/">{{blog-title}}</a>
      </h1>
      <div class="site-nav">
        <a class="page-link" href="{{relative-path | safe}}archive.html">Archive</a>
        <a class="page-link" href="{{relative-path | safe}}tags/index.html">Tags</a>
        <a class="page-link" href="{{relative-path | safe}}atom.xml">Feed</a>
      </div>
    </div>
    <div class="wrapper">
      {{body | safe }}
    </div>
  </body>
</html>
