<div class="post-previews">
    {% for post in posts %}
        <div class="post-preview">
            <h1><a href="{{post.post-link}}">{{post.title}}</a></h1>
            {{post.body | safe}}
            {% if post.truncated %}
                <p><a href="{{post.post-link}}">Continue reading</a></p>
            {% endif %}
            {% if post.discuss %}
                <p>Discuss this post <a href="{{post.discuss}}">here</a>.</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="archive-footer">
    <a href="{{relative-path | safe}}archive.html">Browse the archive for more</a>
</div>
